{% extends 'base.html' %}

{% block content %}
    <h1>about</h1>
    <p>this is a template</p>

    {{ my_html|safe }}

    <p>{{ my_text }}, {{ my_number }} <br />
    {{ my_list }}
    </p>

    <ul>
    {% for item in my_list %}
        {% if item == 'ford' %}
            <li>{{ forloop.counter }} - {{ item|capfirst }} - {{ 'Blue' }}</li>
        {% elif item == 'chevy' %}
            <li>{{ forloop.counter }} - {{ item|capfirst }} - {{ 'Orange' }}</li>
        {% elif item == 'dodge' %}
            <li>{{ forloop.counter }} - {{ item|capfirst }} - {{ 'Red' }}</li>
        {% endif %}
    {% endfor %}
    </ul>

{% endblock %}